.icon{width:100px;}


.dashboard_main_color{
	fill: #7DA92B;
	animation: colorchange 50s;
	-webkit-animation: colorchange 50s; /* Chrome and Safari */
}

@keyframes colorchange
    {
      0%   {fill: red;}
      25%  {fill: yellow;}
      50%  {fill: blue;}
      75%  {fill: green;}
      100% {fill: red;}
    }

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {fill: red;}
      25%  {fill: yellow;}
      50%  {fill: blue;}
      75%  {fill: green;}
      100% {fill: red;}
    }